button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  padding: 10px 18px;
  background-color: $brown;
  color: $white;
  font-size: 16px;
  border-radius: 6px;
  &__white {
    background-color: $white;
    color: $brown;
  }
}
