.header {
  height: 80px;
  display: flex;
  align-items: center;
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__logo {
    display: flex;
    align-items: center;
  }
  &__nav {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  &__btn {
    button:first-child {
      margin-right: 20px;
    }
  }
}
.nav {
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    margin-right: 30px;
  }
}
