// Цвета
$brown: #575445;
$orange: #575445;
$white: #fff;
$black: #000;

// Шрифты

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

$main-font: 'Poppins', sans-serif;
$second-font: 'Roboto', sans-serif;
