// Цвета
$brown: #575445;
$orange: #e6b939;
$white: #fff;
$black: #292c32;
$gray: #fafafc;

// Шрифты

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

$main-font: 'Poppins', sans-serif;
$second-font: 'Roboto', sans-serif;
