@import 'vars';
@import '_normalise';
@import '_mixins';
@import '_humburger';

// Блоки
@import '_button';
@import '_header';
@import '_home';
@import '_about';
@import '_settings';
@import '_catalog';
@import '_gallery';
@import '_shop';
@import '_guides';
@import '_subscribe';
@import '_footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $brown;
  font-family: $main-font;
}

.wrapper {
  color: $brown;
  font-family: $main-font;
  margin: 0 auto;
  max-width: 1920px;
}

.container {
  margin: 0 auto;
  max-width: 1220px;
  width: 100%;
  padding: 0 10px;
}
